<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!--每次都创建jedis对象性能较低 创建jedis线程池  -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!--定义连接总数  -->
		<property name="maxTotal" value="${redis.maxTotal}"/>
		<!--定义最大闲置资源  -->
		<property name="maxIdle" value="${redis.maxIdle}"/>
		<!--定义是否自动连接  -->
		<property name="testOnBorrow" value="${redis.testOnBorrow}"/>
	</bean>
	
	<!--定义6379主机   public JedisShardInfo(String host, int port) -->
	<bean id="jedisShard1" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="${redis.host1}" type="java.lang.String"/>
		<constructor-arg index="1" value="${redis.port1}" type="int"/>
	</bean>
	
	<!--定义6380主机  -->
	<bean id="jedisShard2" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="${redis.host2}" type="java.lang.String"/>
		<constructor-arg index="1" value="${redis.port2}" type="int"/>
	</bean>
	
	<!--定义6381主机  -->
	<bean id="jedisShard3" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="${redis.host3}" type="java.lang.String"/>
		<constructor-arg index="1" value="${redis.port3}" type="int"/>
	</bean>
	
	
	<!--定义分片连接池   final GenericObjectPoolConfig poolConfig, List<JedisShardInfo> shards-->
	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg index="0" ref="poolConfig"/>
		<constructor-arg index="1">
			<list>
				<ref bean="jedisShard1"/>
				<ref bean="jedisShard2"/>
				<ref bean="jedisShard3"/>
			</list>
		</constructor-arg>
	</bean>
</beans>